@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

img {
    width: 60vw;
    margin: 1vw;
}
body {
    font-family: 'Krona One', sans-serif;
}

footer {
    padding: 10vh;
    text-align: center;
    font-size: 80%rem;
}

.principal {
    background: silver;
}



.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

p {
    text-align: center;
}

em strong {
    color: red;
}

#missao {
    font-size: 20px;
}

h1 {
    text-align: center;
}

.apresentacao_principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2 vw;
    background-color: whitesmoke;
}

.apresentacao_beneficios {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 2vw;
    background-color: beige;
}

.itens {
    font-style: italic;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;

}

h2 {
    text-align: center;
}